:root {
    --font-size-base      : 16px;
    --color-primary       : #f571f0;
    --color-secondary     : #821CBD;
    --color-text          : #AA26AA;
    --color-tertiary      : #340057;
    --color-background    : #B44FBD;
    --color-background-img: #D9C1E1;
    --color-shadow        : rgba(0, 0, 0, 0.3);
    --card-width          : 18.75rem;
    --card-height         : 23.125rem;
    --card-margin         : 0.625rem;
}

* {
    box-sizing: border-box;
    margin    : 0;
}

body {
    background     : var(--color-primary);
    padding        : 5.75rem 0;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;
    font-size      : var(--font-size-base);
}

.container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 1.25rem;
    width          : 100%;
    height         : 100%;
    padding        : 2rem;
    border-radius  : 0.75rem;
    background     : var(--color-background);
    box-shadow     : 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.tarjetas {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    align-items     : center;
    width           : 77%;
    padding         : 2rem;
    border-radius   : 0.75rem;
    background-image: linear-gradient(var(--color-secondary) 9%, var(--color-tertiary) 100%);
}

.tarjeta {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 1.25rem;
    margin         : var(--card-margin);
    width          : var(--card-width);
    height         : var(--card-height);
    padding        : 2rem;
    background     : white;
    border-radius  : 0.625rem;
    box-shadow     : 0 0 0.625rem rgba(0, 0, 0, 0.3);
    transition     : transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.1);
}

.tarjetas:hover .tarjeta:not(:hover) {
    filter: blur(0.1875rem);
}

.container__image {
    display            : flex;
    align-items        : center;
    justify-content    : center;
    padding            : .95rem;
    border-radius      : 50%;
    background-color   : var(--color-background-img);
    object-fit         : cover;
    background-position: center;
}

.tarjeta__imagen {
    width : 3.75rem;
    height: auto;
}

.tarjeta__contenido {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 1.25rem;
}

.tarjeta__titulo {
    color      : var(--color-text);
    font-size  : 1.0625rem;
    font-weight: bold;
}

.tarjeta__descripcion {
    text-align: center;
}

.tarjeta__valor {
    color      : var(--color-text);
    font       : 2.4em sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 48rem) {

    .tarjetas {
        flex-direction: column;
    }

    .tarjeta {
        width        : 18.75rem;
        height       : 23.125rem;
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 22.5625rem) {

    .tarjetas {
        flex-direction: column;
    }

    .tarjeta {
        width        : 100%;
        height       : 100%;
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 31.5rem) {

    .tarjetas {
        flex-direction: column;
    }

    .tarjeta {
        width        : 100%;
        height       : 100%;
        margin-bottom: 1.25rem;
    }
}