body{
    background-image: linear-gradient( 135deg, #B44FBD 10%, #D939CD 100%);
    
}
.container{
    display: flex;
    background-image: linear-gradient(  #821cbd 9%, #340057 100%);
    padding: 100px 0px 0px 82px;
    margin: 20px 134px;
    border-radius:10px 10px 10px 10px; 
}
.tarjetas{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 35px;
}
 .tarjeta1{
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 300px;
    height:400px;
    margin: 0px;
    border:.6px solid #000;
    
 }
 .tarjeta2{
    position: relative;
   border-radius: 10px;
   background-color: #FFFFFF;
   width: 300px;
   height:450px;
   margin:0px;
   border:.6px solid #000;
   box-shadow: 0px 5px 10px rgb(0, 0, 0); 
   bottom:24px;
  
}
.tarjeta3{
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 300px;
    height:400px;
    margin: 0px;
    border:.6px solid #000;
   
 }
 .container img{
     position: absolute;
     width: 90px;
     height: 90px;
     border-radius: 50%;
     margin:105px;
     bottom:189px;
 }
 .tarjeta1 img{
    bottom: 225px;
}
 .tarjeta2 img{
     bottom: 225px;
 }
 .tarjeta3 img{
    bottom: 225px;
 }
 .contenido{
     position: relative;
     top:118px;
     text-align: center;
 }
 .contenido p{
     text-align: justify;
     margin: 40px;
 }
 .contenido h1{
    font-family: 'Impact', arial;
    color:#B32EAE;
 }
.valor span{
    font-family: 'Impact', arial;
    font-size:40px;
    color:#B32EAE;
}
.tamanio{
    height:600px;
}
.container,.valor{
    position: relative;
    bottom:10px;
}
#dinero{
    top:10px;
    font-size:80px;
}